body{
    font-size: 14px;
}

.content-documents .left-container,
.content-documents .right-container{
    padding: 50px 0;
}

.logo{
    font-size: 22px;
    font-weight: 700;
}

.left-container{
    float: left;
    padding: 0 15px;
    width: 41.666667%;
}

.right-container{
    float: left;
    padding: 0 15px;
    width: 58.333333%;
}

.description-modules .des-md{
    display: none;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    transition: .2s;
    -webkit-transition: .2s;
}

.description-modules .des-md.show{
    display: block;
}

.list-modules > ul > li{
    margin-bottom: 5px;
}

.heading-top-description{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.heading-top-description a {
    float: right;
    margin-left: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.heading-top-description b{
    display: inline-block;
    margin-top: 6px;
}
