body{
    font-size: 14px;
}

.content-documents{
    padding: 50px 0;
}

.logo{
    font-size: 22px;
    font-weight: 700;
}

.col-main{
    padding-right: 500px;
    position: relative;
}

.list-modules > ul > li > .des-md{
    padding: 20px;
    max-width: 470px;
    background-color: #f5f5f5;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    transition: .2s;
    -webkit-transition: .2s;
}

.list-modules > ul > li{
    margin-bottom: 5px;
}
